/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the entire page */
body.login-page {
        background-image: url('pet3.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Optional: This keeps the background fixed while scrolling */
        color: #000000; /* Set text color to contrast with the background */
}
.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Make the container take the full height of the viewport */
} 

/* Center the registration and login forms */
form {
        width: 300px;
        background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.2); /* Semi-transparent border */
        border-radius: 10px;
        margin-top: 20px;
        backdrop-filter: blur(10px); /* Apply a blur effect */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

/* Style the input elements with a glassmorphic effect */
form input[type="email"],
form input[type="password"] {
    width: 90%;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Semi-transparent border */
    border-radius: 20px;
    backdrop-filter: blur(5px); /* Apply a blur effect to input fields */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    color: #fff;
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    outline: none; /* Remove focus outline */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #b6cbe3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Style the buttons on hover */
button:hover {
    background-color: #0056b3;
}

/* Style for error messages */
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Add some spacing between elements */
br {
    line-height: 20px;
}
