<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="login-page">
    <div class="container">
        <h2>Login</h2>
        <form action="/php/login.php" method="post">
            <label for="email">Email:</label>
            <input type="email" name="Email" required><br>

            <label for="password">Password:</label>
            <input type="password" name="Password" required><br>
           
            <input type="text" name="captcha" placeholder="Enter CAPTCHA">
            <img src="/php/gencaptcha.php" alt="CAPTCHA">

            <button type="submit">Login</button>

            <p>Don't have an account? <a href="register.html">Register here</a></p>
        </form>
    </div>
</body>
</html>
